<!DOCTYPE html>
<html>

<head>
    <title>Docker Container Logs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form onsubmit="return false;">
        <h2 for="container_name">
            Container:
            <select name="container_name" id="container_name">
                <option disabled selected value> -- select an option -- </option>
                {% for container_name in container_names %}
                <option value="{{ container_name }}">{{ container_name }}</option>
                {% endfor %}
            </select>
        </h2>
        <h2 for="filter">
            Filter:
            <input type="text" id="filter" name="filter">
        </h2>
        <button class="export-btn" onclick="exportLogs()">Export Logs</button>
    </form>
    <pre id="logs"></pre>
    <script>
        function refreshLogs() {
            const containerName = document.getElementById('container_name').value;
            const filter = document.getElementById('filter').value;
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/logs?container_name=' + containerName + '&filter=' + filter);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    document.getElementById('logs').textContent = xhr.response;
                }
            };
            xhr.send();
        }
        setInterval(refreshLogs, 1000);

        function exportLogs() {
            const containerName = document.getElementById('container_name').value;
            if (!containerName) return;
            const logs = document.getElementById('logs').textContent;
            const filename = new Date().toISOString() + "_" + containerName + '.log';
            const blob = new Blob([logs], { type: 'text/plain' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = filename;
            a.click();
        }

    </script>
</body>

</html>